/* Global */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
    font-family: roboto;
    font-weight: 200;
}

body {
    padding-bottom: -100px;
}

hr {
    border: 0px;
    height: 1px;
    background-color: rgb(95, 64, 69);
}

footer p {
    text-align: center;
}
/* /Global */
